<ion-view title="Change Owner" id="page3" style="background-color:#007DB8;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/PmMRdo4TRrfWnpaYVp1Q_Dell-Logo-3D-White-PNG.png"
        style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="changeOwner-form6" class="list">
      <label class="item item-input" id="findMyTag-input4">
        <span class="input-label">Customer Name</span>
        <input type="text" placeholder="" ng-model="name">
      </label>
      <label class="item item-input" id="findMyTag-input4">
        <span class="input-label">Product</span>
        <input type="text" placeholder="" ng-model="product">
      </label>
      <label class="item item-input" id="findMyTag-input4">
        <span class="input-label">Entitlement</span>
        <input type="text" placeholder="" ng-model="entitlement">
      </label>
    </form>
    <button id="changeOwner-button12" class="button button-royal button-block">Save</button>
  </ion-content>
</ion-view>