<ion-view title="Find my tag" id="page2" style="background-color:#007DB8;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/PmMRdo4TRrfWnpaYVp1Q_Dell-Logo-3D-White-PNG.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="findMyTag-form4" class="list">
      <ion-toggle toggle-class="toggle-positive" id="findMyTag-toggle2">Toggle</ion-toggle>
      <ion-radio id="findMyTag-radio2">Radio</ion-radio>
      <label class="item item-input" id="findMyTag-input4">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="findMyTag-button8" class="button button-royal button-block">Change Owner</button>
    <a href="tel:+1866-704-0752;ext=6266122" id="findMyTag-button9" class="button button-balanced button-block">Make a call</a>
  </ion-content>
</ion-view>