<ion-view title="Home" id="page1" style="background-color:#007DB8;">
  <ion-content padding="true" class="has-header">
    <div id="home-container2">
      <div>
        <img src="img/IcZxoe1TBeWteMMsfTVA_Dell-Logo-3D-White-PNG.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <a ui-sref="menu.findMyTag()" id="home-button5" style="font-weight:500;" class="button button-balanced button-block">Contact Support</a>
    </div>
  </ion-content>
</ion-view>